body{
    background-color: rgb(36, 54, 75);
    background-image: url('images/bg.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
    margin-top: 2rem;
    padding: 2rem;
    background-color: lightgray;
    border-radius: 25px;
}

img{
    height: 50px;
    width: 50px;
}

#br1 {
    display: block;
    margin: 25px 0;
    content: " ";
 }

 #subBtn {
display:inline-block;
margin-left: 120px;
position: relative;
width: 20%;
 }


#searchBar{
width: 30%;
float: right;
}

#addBookDialog{
    position: fixed;
    margin-left: 40%;
    margin-top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.form-control{
    border: 2px solid darkgray;
}

#issueSeverity{
width: 20%;
display:inline-block;
margin-top: 30px;
margin-bottom: 30px;
}

#issueType{
width: 20%;
margin-right: 50px;
margin-top: 30px;
margin-bottom: 30px;
display:inline-block;
}

.well{
    margin-top: 50px;
    padding: 10px;
    background-color:white;
    border-radius: 10px;
    border: 2px solid darkgray;
}


.chart-container{
    position: relative;
    height:20vh;
    width:19vw; 
    float:right;
    background-color: lightgray;
    border-radius: 25px;
    padding: 20px;
}

.footer{
    margin-top: 1%;
    margin-left: 30rem;
    color: white;
}